@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;
}


.form-text {
    margin-right: 60px;
}
.form-text h2{
    padding-bottom: 30px;
}
.form-container form {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input-box input {
    background-color: #b0bac38c;
}

.input-box input::placeholder {
    color: #181D2E;
}

.container {
    width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    position: fixed;
}



.form-container {
    flex: 1;
    padding: 20px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: end;
}


.logo img {
    width: 130px;
    margin-left: 120px;

}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181D2E;
    color: #fff;
    height: 80px;
}


.logo img {
    max-width: 100%;
    height: auto;
}

.div-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}


/*botao de entrar */
#entrar {
    background: transparent;
    border: solid 1px #fff;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
}

#entrar a {
    text-decoration: none;
    color: #fff;

}


.form-container input[type="submit"] {
    width: 240px;
    background-color: #4B39FF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}

.form-container div {
    display: flex;
    justify-content: center;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 600px;
    width: 400px;
    background-image: url('img/bitmap.svg');
    /* Substitua 'imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    padding-right: 20px;
    /* Adiciona espaço entre a imagem e o formulário */
    border-right: 1px solid #ccc;
    /* Adiciona borda divisória */
    box-sizing: border-box;
    /* Mantém o padding dentro da largura total */
    background-color: #7C838A;
}