* {
    margin: 0;
    padding: 0;

}

.resultado {
    background-color: #F4FCFF;

}

.div_usuario {
    width: auto;
    height: auto;

}

main {
    width: auto;
}

.div_anuncio {
    height: auto;
    width: auto;
}

#iten-imgArrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: #181D2E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.img_vagasPinhal {
    height: 100px;
    width: auto;
}

#nav_bar1 a {
    color: #ffffff;
    text-decoration: none;
}

#nav_bar1 a hr {
    width: 40px;
    margin: 0;
    color: #fff;
}


#nav_bar1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#nav_home {
    display: flex;
    font-size: 13px;
    align-items: center;
    gap: 5px;
}

#nav_usuario {
    display: flex;
    align-items: center;
    gap: 20px;
}

#userName {
    color: #ffffff;
}

.material-symbols-outlined {
    color: #fff;
}

.div_usuario {
    width: 300px;
    height: 250px;
    background-color: #ffff;
    margin-left: 100px;
    border-radius: 10px;
}

.imgFundo {
    width: 254px;
    height: 43px;
    margin-top: 45px;
    padding-top: 5px;
    padding-left: 7%;
}

#user-img {
    width: 50px;
    position: relative;
    top: 16%;
    left: 10%;
    transform: translate(80px, -50%);
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.4s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.info-user {
    text-align: center;
    padding-top: 50px;
}

#name-user {
    color: #316C89;

}

.info-user hr {
    width: 200px;
    margin-left: 12%;
}

.teste {
    width: 670px;
    height: auto;
    background-color: #f4f4f4;
    padding: 47px;
    border: solid 2px #181D2E;
    border-bottom: solid 1px #181D2E;
}

main {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-top: 50px;
}

.perfil_img {
    margin: 20px 20px;
}

.img-name {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.img-name p {
    margin-top: 10px;
}

.descricao-vagas {
    width: 20rem;
    display: flex;
    flex-direction: column;
}